i{
    color: coral;
}

span{
    color: saddlebrown;
}

.card{
    height: 500px;
    width: 375px;
    border: 2px solid black;
    border-radius:10%;
    padding:15px;
    margin:10px;
}

img{
    width: 100%;
    border-radius: 25px;
}

h4 {
    text-align: right;
    color: #3c787e;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}