#box1{
    width: 200px;
    height: 200px;
    transition: width 2s ease-in 0.5s;
    background-color: chartreuse;
}

#box1:hover{
    width: 500px;
    background-color: crimson;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: crimson;
    translate: 200px 200px;
    rotate: 90deg;
}

#box3{
    width: 200px;
    height: 200px;
    skew: 20deg;
    color: darkturquoise;
}

#box4 {
    width: 200px;
    height: 200px;
    background: lightgreen;
    box-shadow: 2px 2px 5px darkolivegreen;
}